<template>
  <div class='imprint'>Feliciteerder is a registered trademark of <a href="http://www.kurtvanoutheusden.nl/" title="Kurt van Outheusden">Kurt van Outheusden</a>.
  </div>
</template>

<style src="../assets/styles/Imprint.css" scoped />





