<template>
  <div class="panel panel-default col-md-8 col-md-offset-2" id="quote">
     <div class="panel-body">
      <component :is="view" transition="fade" :data-quote1="quote1" :data-quote2="quote2" transition-mode="out-in"></component>
    </div>

    <div class="panel-footer social">
      <ul>
        <li><a href="#" @click="newQuote" title="Click for new quote">Random message generator</a></li>
<!--        <li><a href="https://twitter.com/intent/tweet?text={{ urlQuote }}" target="_blank" title="Tweet this quote!"> Tweet this</a></li>-->
<!--        <li><a href="whatsapp://send?text={{ urlQuote }}" title="Share via Whatsapp">Whatsapp this</a></li>-->
      </ul>
    </div>
  </div>
</template>

<style src="../assets/styles/quote.css" scoped />
