<template>
  <div id="app">
    <header>
      <img
        src="./assets/logo.svg"
        alt="Vue.js PWA"
      >
      <h1>{{ headline }}</h1>
    </header>
    <main>

      <div class="section">
        <h2>{{this.sections[0].headline}}</h2>
        <Carousel :cards="cards" />
      </div>
      <Quote />
      <Imprint />
    </main>
  </div>
</template>

<script>
import Imprint from "./components/Imprint";
import Quote from "./components/Quote";
import Carousel from "./components/Carousel";
export default {
  name: "app",
  components: { Imprint, Quote, Carousel },

  data() {
    return {
      headline:
        "feliciteerder",
      sections: [
        { headline: "Send your colleagues a birthday message." }
      ],

      cards: [
        {
          headline: "Erwin van Hovel",
          text:
            "e.hovel21@feliciteerder.com",
          imgName: "150-3.jpeg"
        },
        {
          headline: "Lucia Janssen",
          text:
            "l_janssen@feliciteerder.com",
          imgName: "150-2.jpeg"
        },
        {
          headline: "Chelsey Dietrich",
          text:
            "chelsey1993@feliciteerder.com",
          imgName: "150.jpeg"
        }
      ]
    };
  }
};
</script>

<style src="./assets/styles/App.css"/>


